body {
    padding: 20px;
}

.table-container {
    margin-top: 20px;
}

th {
    cursor: pointer;
}

/* Status Colors */
.text-success {
    color: green !important;
}

.text-warning {
    color: orange !important;
}

.text-danger {
    color: red !important;
}
